.blogpostslistitem-image img {max-width:100%;}
.blogpostslistitem h1, .blogpostslistitem p, .image-timestamp, .image-category {margin:1rem;}
.blogpostslistitem h1 {margin-top:1.2rem;}
.blogpostslistitem p {margin-bottom:1.2em;}
.image-timestamp, .image-category {color:#fff;position:relative;top:-3em;height:0;display:block;}
.image-category {text-align:right;margin-top:-1em}